<h2>
  Contacts
  <br>
  <a class='new_contact' routerLink="new-contact" routerLinkActive="active">
    Add contact
  </a>
</h2>

<div class="loading" [@flyInOut]="isLoading" style="width: 256px;height: 256px">
  Loading...
</div>

<table *ngIf="isLoading==true">
  <tbody>
    <tr *ngFor="let user of users" >
      <td><img src="{{ user?.picture?.thumbnail }}" width="48px"></td>
      <td>
        <strong>{{ user['name']['last'] }},{{ user['name']['first'] }}</strong>
        <br>
        <small>{{ user['email'] }}</small>
      </td>
      <td><a routerLink="" routerLinkActive="active" (click)="eventLogin(user)">Login</a></td>
    </tr>
  </tbody>
</table>
